// GLOBAL =============================
body {
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Apex New', Arial, Helvetica, sans-serif;
  font-style: italic;
}
ul {
  list-style: none;
  padding-left: 0;
}

// HEADER =============================
.header {
  background: url('../img/blog-header.jpg');
  min-height: 688px;
}
.header-content {
  color: white;

  .logo {
    margin-top: 50px;
  }

  .find-your-village {
    -webkit-transition: height .2s ease-in-out;
    -moz-transition: height .2s ease-in-out;
    -ms-transition: height .2s ease-in-out;
    -o-transition: height .2s ease-in-out;
    transition: height .2s ease-in-out;
    background-color: #38434f;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    height: 48px;
    overflow: hidden;
    position: fixed;
    right: 30px;
    top: 0;
    width: 196px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 13px;
    font-weight: bold;
    z-index: 1;
  }

  h1 {
    font-size: 90px;
    font-weight: bold;
    padding-top: 150px;
    text-align: center;
  }
  ul {
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;

    li {
      display: inline-block;
      padding-right: 30px;
      font-size: 24px;

      &:nth-child(5) {
        padding-right: 0px;
      }
    }
  }
}

// MAIN BLOG PAGE =====================
.carousel-posts {
  margin-top: -100px;
  text-align: center;

  .carousel-header {
    text-align: left !important;
    color: white;
    padding-left: 15px;
    font-weight: bold;
  }
}
.post-category {
  margin-top: 25px;
}
.post-thumbnail {
  border: 4px solid white;
}
.thumb-2 {
  margin: 0 auto;
}
.thumb-3 {
  float: right;
}
.post-small {
  margin-bottom: 30px;

  img {
    max-width: 360px;
  }
  .post-info {
    min-height: 100px;
    padding: 10px 25px;
    text-align: center;
    color: white;

    h3 {
      font-weight: bold;
    }
    p {
      margin-top: 15px;
    }
  }
}
.post-large {
  img {
    max-width: 750px;
  }
  .post-info {
    min-height: 200px;
    padding: 85px 85px 84px;;
    text-align: center;
    color: white;

    h3 {
      font-weight: bold;
      font-size: 40px;
    }
    p {
      margin-top: 15px;
      font-size: 18px;
    }
  }
}

// VIDEOS =============================
.video-header {
  background: url('../img/video-header.jpg');
  min-height: 503px;
}
.video-heading {
  font-size: 64px;
  margin-top: 100px;
  font-weight: bold;
}
.video {
  background: #01b7cd;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  color: white;
  padding-bottom: 70px;
}

// SEARCH =============================
.search {
  padding-top: 70px;
  padding-bottom: 75px;
}
h3.search-header {
  color: #01b7cd;
  font-weight: bold;
  font-size: 54px;
}

// FOOTER =============================
footer {
  background: #475464;
  color: white;
  text-align: center;
  padding: 60px 0 30px;

  p {
    color: rgba(255, 255, 255, .5);;
  }

  li {
    display: inline-block;

    &.slash {
      padding: 0 10px;
    }
    a {
      font-weight: bold;
      color: white;
    }
  }
}

// BUTTONS ============================
.btn-fancy {
  border: 3px solid #000;
  border-radius: 0;
  font-family: 'Apex New', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: bold;
  width: 250px;
  margin-top: 30px;
  font-size: 24px;
}

// COLORS =============================
.teal {
  color: #01b7cd;
}
.red {
  color: #ed1d4d;
}
.purple {
  color: #5150a0;
}
.orange {
  color: #faa420;
}
.green {
  color: #7ac46d;
}

.teal-bg {
  background: #01b7cd;
}
.red-bg {
  background: #ed1d4d;
}
.purple-bg {
  background: #5150a0;
}
.orange-bg {
  background: #faa420;
}
.green-bg {
  background: #7ac46d;
}
